<div class="gol-living">
    <div class="gol-living-controll">

        <div><span>Width: </span><input type="text" data-ng-model="$ctrl.width" data-ng-disabled="$ctrl.isRunning" /></div>
        <div><span>Height: </span><input type="text" data-ng-model="$ctrl.height" data-ng-disabled="$ctrl.isRunning" /></div>
        <div><span>Step: </span><input type="text" value="{{$ctrl.space.step}}" data-ng-click="$ctrl.step()" disabled="disabled" /></div>
        <div><input data-ng-if="$ctrl.isChanged" type="button" value="set size" data-ng-click="$ctrl.setSize()" data-ng-disabled="$ctrl.isRunning" /></div>
        <div><input type="button" value="step" data-ng-click="$ctrl.step()" data-ng-disabled="$ctrl.isRunning" /></div>
        <div><input data-ng-if="!$ctrl.isRunning" type="button" value="start" data-ng-click="$ctrl.startIteration()" /></div>
        <div><input data-ng-if="$ctrl.isRunning" type="button" value="stop" data-ng-click="$ctrl.stopIteration()" /></div>

        <div>&nbsp;</div>
        <div><span>Example:</span></div>
        <div>
            <select data-ng-model="$ctrl.selectedExample">
                <option ng-repeat="option in $ctrl.examples" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div data-ng-if="$ctrl.exampleIsSelected"><input type="button" value="load" data-ng-click="$ctrl.load()" data-ng-disabled="$ctrl.isRunning" /></div>

        <div>&nbsp;</div>
        <div><span>Saved data:</span></div>
        <div data-ng-if="!$ctrl.saveByName">
            <select data-ng-model="$ctrl.selectedSpace">
                <option ng-repeat="space in $ctrl.spaces" value="{{space.id}}">{{space.name}} [{{1000*space.savedOn| date:'yyyy-MM-dd HH:mm:ss'}}]</option>
            </select>
        </div>
        <div data-ng-if="!$ctrl.saveByName&&$ctrl.spaceIsSelected"><input type="button" value="load" data-ng-click="$ctrl.open()" data-ng-disabled="$ctrl.isRunning" /></div>
        <div data-ng-if="!$ctrl.saveByName&&$ctrl.spaceIsSelected"><input type="button" value="save" data-ng-click="$ctrl.save()" data-ng-disabled="$ctrl.isRunning" /></div>
        <div data-ng-if="!$ctrl.saveByName"><input type="button" value="save as" data-ng-click="$ctrl.saveName()" data-ng-disabled="$ctrl.isRunning" /></div>

        <div data-ng-if="$ctrl.saveByName"><span>Name:</span></div>
        <div data-ng-if="$ctrl.saveByName"><input class="spaceName" type="text" data-ng-model="$ctrl.name" data-ng-disabled="$ctrl.isRunning" /></div>
        <div data-ng-if="$ctrl.saveByName"><input type="button" value="save" data-ng-click="$ctrl.saveAs()" data-ng-disabled="$ctrl.isRunning" /></div>
        <div data-ng-if="$ctrl.saveByName"><input type="button" value="cancel" data-ng-click="$ctrl.cancelSaveAs()" data-ng-disabled="$ctrl.isRunning" /></div>

    </div>
    <div class="gol-living-space">
        <table cellspacing="1" data-ng-class="$ctrl.isRunning ? 'running' : ''">
            <tr data-ng-repeat="(i,crow) in $ctrl.space.cells track by $index">
                <td data-ng-repeat="(j,c) in crow track by $index" data-ng-class="c==1 ? 'live' : ''" data-ng-click="$ctrl.toggle(i, j)"></td>
            </tr>
        </table>
    </div>
</div>